* {
    margin: 0;
    padding: 0;
    }
html{
    font-size: 10px;
}


.img-grid-container{
    width: 100%;
    height: 100%;
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        background-color: black;
    }
    li{
        position: relative;
        display: inline-block;
        background-color: black;
        flex-basis: calc( (100% / 6) );
        
        &:hover{
            img{
                opacity: 0.6;
            }
        }

        img{
            height: 100%;
            width: 100%;
            min-height: 150px;
            min-width: 150px;
            object-fit: cover;
            transition: opacity .2s linear;
        }
        h2{
            position: absolute;
            display: inline-block;
            bottom: 10px;
            left:5px;
            padding: 0 2px;
            color: white;
            font-size: 1.4rem;
            text-shadow: 0 0 2px  black;
            z-index: 999;
        }
           
    }
}


@media  (max-width: 1400px){
    .img-grid-container{
        li{
            flex-basis: calc( (100% / 5) );
        }
    }
}

@media  (max-width: 1025px){
    .img-grid-container{
        li{
            flex-basis: calc( (100% / 4) );
        }
    }
}

@media  (max-width: 800px){
    .img-grid-container{
        li{
            flex-basis: calc( (100% / 3)  );
        }
    }
}
@media  (max-width: 500px){
    .img-grid-container{
        li{
            flex-basis: calc( (100% / 2)  );
        }
    }
}